<h2 style = "color : Brown">  Exploratory Data Analysis - Lending Club Case Study </h2>

In [54]:
#Mention business Case

## Mention the column of analysis..

In [55]:
#Import modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [56]:
#Import the data and use the basic commands to understand it
df = pd.read_csv('loan.csv')

C:\Users\madevada\AppData\Local\Temp\ipykernel_30588\156808305.py:2: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('loan.csv')

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [58]:
df.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [59]:
df.shape

(39717, 111)

<h3 style = "color : Blue"> Data Cleaning </h3>

In [60]:
##### Too many columns(111)  -- need to find which ones have proper data and which ones doesnt and will drop them

In [61]:
df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [62]:
meannull = df.isnull().mean()

In [63]:
allNull = meannull[meannull == 1.0]

In [64]:
allNull.size

54

In [65]:
allNull.index.tolist()

['mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

#### Drop columns with all null values

In [66]:
df = df.dropna(axis=1, how='all')

In [67]:
df.shape

(39717, 57)

In [68]:
df.isnull().mean()

id                            0.000000
member_id                     0.000000
loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
installment                   0.000000
grade                         0.000000
sub_grade                     0.000000
emp_title                     0.061913
emp_length                    0.027066
home_ownership                0.000000
annual_inc                    0.000000
verification_status           0.000000
issue_d                       0.000000
loan_status                   0.000000
pymnt_plan                    0.000000
url                           0.000000
desc                          0.325855
purpose                       0.000000
title                         0.000277
zip_code                      0.000000
addr_state                    0.000000
dti                           0.000000
delinq_2yrs                   0.000000
earliest_cr_line              0.000000
inq_last_6mths                0.000000
mths_since_last_delinq        0.646625
mths_since_last_record        0.929854
open_acc                      0.000000
pub_rec                       0.000000
revol_bal                     0.000000
revol_util                    0.001259
total_acc                     0.000000
initial_list_status           0.000000
out_prncp                     0.000000
out_prncp_inv                 0.000000
total_pymnt                   0.000000
total_pymnt_inv               0.000000
total_rec_prncp               0.000000
total_rec_int                 0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
last_pymnt_d                  0.001788
last_pymnt_amnt               0.000000
next_pymnt_d                  0.971297
last_credit_pull_d            0.000050
collections_12_mths_ex_med    0.001410
policy_code                   0.000000
application_type              0.000000
acc_now_delinq                0.000000
chargeoff_within_12_mths      0.001410
delinq_amnt                   0.000000
pub_rec_bankruptcies          0.017549
tax_liens                     0.000982
dtype: float64

#### Lets drop anything > 40% null values.
#### But dont drop mths_since_last_delinq seems to be an important column.

In [69]:
int(39717*.4)

15886

In [70]:
df = df.dropna(axis=1, thresh= int(39717*.4))

In [71]:
df.shape

(39717, 54)

In [72]:
df.to_csv('loannonull.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 55 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26775 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  open_acc                    39717 non-null  int64
 30  pub_rec                     39717 non-null  int64
 31  revol_bal                   39717 non-null  int64
 32  revol_util                  39667 non-null  object
 33  total_acc                   39717 non-null  int64
 34  initial_list_status         39717 non-null  object
 35  out_prncp                   39717 non-null  float64
 36  out_prncp_inv               39717 non-null  float64
 37  total_pymnt                 39717 non-null  float64
 38  total_pymnt_inv             39717 non-null  float64
 39  total_rec_prncp             39717 non-null  float64
 40  total_rec_int               39717 non-null  float64
 41  total_rec_late_fee          39717 non-null  float64
 42  recoveries                  39717 non-null  float64
 43  collection_recovery_fee     39717 non-null  float64
 44  last_pymnt_d                39646 non-null  object
 45  last_pymnt_amnt             39717 non-null  float64
 46  last_credit_pull_d          39715 non-null  object
 47  collections_12_mths_ex_med  39661 non-null  float64
 48  policy_code                 39717 non-null  int64
 49  application_type            39717 non-null  object
 50  acc_now_delinq              39717 non-null  int64
 51  chargeoff_within_12_mths    39661 non-null  float64
 52  delinq_amnt                 39717 non-null  int64
 53  pub_rec_bankruptcies        39020 non-null  float64
 54  tax_liens                   39678 non-null  float64
dtypes: float64(19), int64(13), object(23)
memory usage: 16.7+ MB

#### Columns with all zeroes or blanks.

In [18]:
((df.isnull() | (df == "") | (df == 0.0)).sum())

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                 129
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12942
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                             183
delinq_2yrs                   35405
earliest_cr_line                  0
inq_last_6mths                19300
mths_since_last_delinq        26125
open_acc                          0
pub_rec                       37601
revol_bal                       994
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                     38577
out_prncp_inv                 38577
total_pymnt                      16
total_pymnt_inv                 165
total_rec_prncp                  74
total_rec_int                    71
total_rec_late_fee            37671
recoveries                    35499
collection_recovery_fee       35935
last_pymnt_d                     71
last_pymnt_amnt                  74
last_credit_pull_d                2
collections_12_mths_ex_med    39717
policy_code                       0
application_type                  0
acc_now_delinq                39717
chargeoff_within_12_mths      39717
delinq_amnt                   39717
pub_rec_bankruptcies          38036
tax_liens                     39717
dtype: int64

In [19]:
df1series = ((df.isnull() | (df == "") | (df == 0.0)).sum())

In [20]:
df1series[df1series == (df.shape[0])]

collections_12_mths_ex_med    39717
acc_now_delinq                39717
chargeoff_within_12_mths      39717
delinq_amnt                   39717
tax_liens                     39717
dtype: int64

#### <font color="blue"> Upon further analysis </font>
* pymnt_pln  - n for all
* url - constructed with loan id, so can be considered as a duplicate of loan id
* initial_list_status - f for all
* policy_code  - (1) same for all
* application Type - "Individual" for all
* Columns to be dropped
  - pymnt_pln
  -initial_list_status1
  policy_code
  - application Type
  - acc_now_delinq
  - delinq_amnt
  - tax_liensnt 3
d

In [21]:
columns_to_drop = ['pymnt_plan', 'url', 'initial_list_status', 'policy_code', 'application_type', 'collections_12_mths_ex_med', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens']

In [22]:
df.drop(columns_to_drop,  axis=1, inplace=True)

#### Verify missing values in rows

In [23]:
nullinrows = (df.isnull().sum(axis=1))

In [24]:
nullinrows.max()

5

#### No rows have a lot of nulls

In [25]:
df.shape

(39717, 45)

In [26]:
duplicate_rows = df.duplicated()
duplicate_rows[duplicate_rows==True]

Series([], dtype: bool)

#### No Duplicates

In [27]:
### Find out columns with nulls, if less no of rows, will delete those rows. 
df1nullmean = df.isnull().mean()

In [28]:
df1nullmean[(df1nullmean > 0.0)]

emp_title                 0.061913
emp_length                0.027066
desc                      0.325855
title                     0.000277
mths_since_last_delinq    0.646625
revol_util                0.001259
last_pymnt_d              0.001788
last_credit_pull_d        0.000050
pub_rec_bankruptcies      0.017549
dtype: float64

In [29]:
df1nullmean[(df1nullmean > 0.0) & (df1nullmean < 0.1)]

emp_title               0.061913
emp_length              0.027066
title                   0.000277
revol_util              0.001259
last_pymnt_d            0.001788
last_credit_pull_d      0.000050
pub_rec_bankruptcies    0.017549
dtype: float64

In [30]:
df1nullmean[(df1nullmean > 0.0) & (df1nullmean > 0.1)]

desc                      0.325855
mths_since_last_delinq    0.646625
dtype: float64

#### **Apart from desc and mths_since_last_delinq lets delete the corresponding rows intead of imputing since that makes a better sense.** </font>
########

In [31]:
columns_to_check = ['emp_title','emp_length', 'title', 'revol_util', 'last_pymnt_d', 'last_credit_pull_d', 'pub_rec_bankruptcies']

In [32]:
df.dropna(subset=columns_to_check, how='any', inplace=True)

In [33]:
df1nullmean = df.isnull().mean()
df1nullmean[(df1nullmean > 0.0)]

desc                      0.330113
mths_since_last_delinq    0.656932
dtype: float64

In [34]:
df.shape

(36433, 45)

#### Find blanks

In [35]:
blanksum = (df == "").sum()

In [36]:
blanksum[blanksum > 0]

Series([], dtype: int64)

####  <font color="Green"> **Impute Values** </font>
* Nulls
    * desc - fill with 'no description provided'

    * mths_since_last_delinq (zero)

In [37]:
valcnt = df.mths_since_last_delinq.value_counts()
valcnt[valcnt == 0.0]

Series([], Name: count, dtype: int64)

In [38]:
#df1.fillna('No description provided', inplace=True)
#df1['mths_since_last_delinq'].fillna(0, inplace=True)
df['desc'] = df['desc'].fillna('No description provided')
df['mths_since_last_delinq'] = df['mths_since_last_delinq'].fillna(0)

In [39]:
df.isnull().sum()

id                         0
member_id                  0
loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_title                  0
emp_length                 0
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
desc                       0
purpose                    0
title                      0
zip_code                   0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
mths_since_last_delinq     0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
out_prncp                  0
out_prncp_inv              0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
total_rec_late_fee         0
recoveries                 0
collection_recovery_fee    0
last_pymnt_d               0
last_pymnt_amnt            0
last_credit_pull_d         0
pub_rec_bankruptcies       0
dtype: int64

In [41]:
df.to_csv('loancleaned.csv', index=False)

####  <font color="Green"> **Standardise** </font>
* term to term_months
* int_rate and revol_util - remove % 
* Dates to datetime
   * issue_d
   * 
earliest_cr_lin
   * 
last_pymnt
   * d
last_credit_pull_d

In [42]:
df.rename(columns={'term': 'term_in_mnths'}, inplace=True)
# Extract the numerical part and convert to integer
df['term_in_mnths'] = df['term_in_mnths'].str.extract('(\d+)').astype(int)
df['term_in_mnths'].info

<bound method Series.info of 1        60
3        36
4        60
5        36
6        60
         ..
39551    36
39562    36
39623    36
39666    36
39680    36
Name: term_in_mnths, Length: 36433, dtype: int32>

In [43]:
df['int_rate'] = df['int_rate'].str.rstrip('%').astype(float)

In [44]:
df['int_rate'].head()

1    15.27
3    13.49
4    12.69
5     7.90
6    15.96
Name: int_rate, dtype: float64

In [45]:
df['revol_util'] = df['revol_util'].str.rstrip('%').astype(float)

In [46]:
df['revol_util'].head()

1     9.4
3    21.0
4    53.9
5    28.3
6    85.6
Name: revol_util, dtype: float64

In [47]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term_in_mnths,int_rate,installment,grade,sub_grade,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
1,1077430,1314167,2500,2500,2500.0,60,15.27,59.83,C,C4,...,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0
3,1076863,1277178,10000,10000,10000.0,36,13.49,339.31,C,C1,...,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0
4,1075358,1311748,3000,3000,3000.0,60,12.69,67.79,B,B5,...,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0
5,1075269,1311441,5000,5000,5000.0,36,7.90,156.46,A,A4,...,5632.21,5000.00,632.21,0.00,0.00,0.00,Jan-15,161.03,Jan-16,0.0
6,1069639,1304742,7000,7000,7000.0,60,15.96,170.08,C,C5,...,10110.84,6985.61,3125.23,0.00,0.00,0.00,May-16,1313.76,May-16,0.0

In [49]:
df.issue_d

1        Dec-11
3        Dec-11
4        Dec-11
5        Dec-11
6        Dec-11
          ...
39551    Dec-07
39562    Nov-07
39623    Oct-07
39666    Aug-07
39680    Aug-07
Name: issue_d, Length: 36433, dtype: object